.top-sales {
  min-height: 300px;
}

.top-sales__row {
  display: flex;
}

.card {
  width: 33%;
}

.catalog-item-card img {
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-text {
  flex-basis: 40px;
}

.btn {
  padding: 10px;
  width: 100px;
  border: 1px solid gray;
  text-align: center;
}

.btn:hover {
  color: white;
}