.top-sales {
  min-height: 300px;
}

.top-sales__row {
  display: flex;
}

.card {
  width: 33%;
}

.catalog-item-card img {
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-text {
  flex-basis: 40px;
}