.table-bordered {
  border: 1px solid gray;
  padding: 5px;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table.table,
table.table td {
  border: 1px solid #d6d2d2;
}

td {
  padding: 20px;
}